* text=auto

*.bat  text eol=crlf
*.cmd  text eol=crlf
*.sln  text eol=crlf
*.psc  text eol=crlf
*.sh   text eol=lf
*.py   text eol=lf
*.md   text eol=lf

*.diff  -text
*.patch -text

*.pex binary
*.esp binary
*.esm binary
*.esl binary
*.bsa binary
*.nif binary
*.hkx binary
*.dds binary
*.dll binary
*.exe binary
*.bin binary
*.swf binary
*.jar binary
